# https://editorconfig.org

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{gradle, java}]
indent_size = 4

[*.{json, toml, xml, yaml, yml}]
indent_size = 2

[*.{md, markdown}]
max_line_length = 2147483647
trim_trailing_whitespace = false
