# ignore all files
*
# but include directories
!*/

# git
!/**/.gitkeep
!/.gitignore
!/.gitmodules

# java
!/**/src/**

# maven
!/**/pom.xml

# misc
!/.github/**
!/.run/**
!/*.md
!/.editorconfig
!/LICENSE
